@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@font-face {
  font-family: "AkzidenzGrotesk";
  src: url("../fonts/AkzidenzGrotesk-BoldCond.eot");
  src: local("☺"), url("../fonts/AkzidenzGrotesk-BoldCond.woff") format("woff"), url("../fonts/AkzidenzGrotesk-BoldCond.ttf") format("truetype"), url("../fonts/AkzidenzGrotesk-BoldCond.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeueBook.eot");
  src: local("☺"), url("../fonts/BebasNeueBook.woff") format("woff"), url("../fonts/BebasNeueBook.ttf") format("truetype"), url("../fonts/BebasNeueBook.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "PT Sans";
}

body.lock {
  overflow: hidden;
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*ui*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  display: none;
}

.header {
  padding: 29px 0 33px 0;
  background-color: #fff;
}

@media (max-width: 767px) {
  .header {
    padding: 5px 0px 5px 0px;
  }
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .header-top {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 25px 0px 0px 0px;
  }
}

@media (max-width: 479.98px) {
  .header-top {
    padding: 15px 0px 0px 0px;
  }
}

.header-top-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

@media (max-width: 767px) {
  .header-top-lang {
    margin: 0px 0px 15px 0px;
  }
}

.header-top-lang__item {
  display: block;
  line-height: 19px;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Bebas;
  padding: 0 4px;
  margin: 0px 10px 0px 0px;
}

.header-top-lang__item.active {
  background-color: #000;
  color: #fff;
}

.header-top__link {
  font-family: AkzidenzGrotesk;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: underline;
  color: #000000;
  position: relative;
  z-index: 11;
}

@media (max-width: 479.98px) {
  .header-top__link {
    font-size: 13px;
  }
}

.header-bottom {
  margin-top: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .header-bottom {
    margin: -37px 0px 0px 0px;
  }
}

@media (max-width: 479.98px) {
  .header-bottom {
    margin: -27px 0px 0px 0px;
  }
}

.header-bottom__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.header-bottom-menu__right .header-bottom-menu-list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.header-bottom-menu__right .header-bottom-menu-list li {
  margin: 0px 0px 0px 45px;
}

.header-bottom-menu__right .header-bottom-menu-list li:first-child {
  margin: 0;
}

.header-bottom-menu__right .header-bottom-menu-list li:last-child {
  margin: 0px 0px 0px 45px;
}

@media (max-width: 767px) {
  .header-bottom-menu__right .header-bottom-menu-list {
    display: block;
    text-align: left;
  }
  .header-bottom-menu__right .header-bottom-menu-list li {
    margin: 0px 0px 15px 0px !important;
  }
  .header-bottom-menu__right .header-bottom-menu-list li:last-child {
    margin: 0px 0px 0px 0px;
  }
}

.header-bottom-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.header-bottom-menu-list li {
  margin-right: 45px;
}

.header-bottom-menu-list li:last-child {
  margin: 0;
}

@media (max-width: 892px) {
  .header-bottom-menu-list li {
    margin: 0px 20px 0px 0px;
  }
}

@media (max-width: 767px) {
  .header-bottom-menu-list {
    display: block;
  }
  .header-bottom-menu-list li {
    margin: 0px 0px 15px 0px !important;
  }
  .header-bottom-menu-list li:last-child {
    margin: 0px 0px 0px 0px;
  }
}

.header-bottom-menu__link {
  font-family: AkzidenzGrotesk;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000000;
}

.header-logo {
  display: block;
  text-align: center;
  position: relative;
  z-index: 11;
}

.header-logo__text {
  display: block;
  font-family: Bebas;
  font-size: 10px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #000000;
}

@media (max-width: 767px) {
  .header-logo__text {
    font-size: 8px;
  }
}

@media (max-width: 479.98px) {
  .header-logo__text {
    letter-spacing: 5px;
  }
}

.header-logo__image {
  display: inline-block;
  margin: 13px 0 22px 0;
}

@media (max-width: 767px) {
  .header-logo__image {
    margin: 2px 0 5px 0;
  }
  .header-logo__image img {
    width: 150px;
  }
}

@media (max-width: 479.98px) {
  .header-logo__image {
    margin: 0px 0 2px 0;
  }
  .header-logo__image img {
    width: 100px;
  }
}

@media (max-width: 767px) {
  .header-menu__icon {
    display: block;
    position: absolute;
    top: 28px;
    left: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .header-menu__icon span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4d4959;
  }
  .header-menu__icon span:first-child {
    top: 0;
  }
  .header-menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .header-menu__icon.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header-menu__icon.active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px;
  }
  .header-menu__icon.active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 8px;
  }
  .header-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: -100%;
    top: 0;
    background-color: #fff;
    padding: 65px 10px 0px 10px;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
  }
  .header-menu.active {
    left: 0;
  }
}

@media (max-width: 479.98px) {
  .header-menu__icon {
    top: 18px;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 880px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 892px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.private {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  background-color: #000;
  margin: 0px 0px 75px 0px;
}

@media (max-width: 767px) {
  .private {
    margin: 0px 0px 40px 0px;
  }
}

.private__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media (max-width: 767px) {
  .private__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .private__column:first-child {
    display: none;
  }
}

.private__image {
  height: 100%;
}

.private-body-content {
  max-width: 305px;
}

.private-body {
  padding: 75px 20px 75px 60px;
}

@media (max-width: 892px) {
  .private-body {
    padding: 30px 20px 30px 30px;
  }
}

.private-body__title {
  font-family: AkzidenzGrotesk;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin: 0px 0px 30px 0px;
}

@media (max-width: 892px) {
  .private-body__title {
    font-size: 40px;
    margin: 0px 0px 20px 0px;
  }
}

.private-body__text {
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  margin: 0px 0px 50px 0px;
}

@media (max-width: 892px) {
  .private-body__text {
    margin: 0px 0px 30px 0px;
  }
}

.btn {
  line-height: 50px;
  height: 50px;
  background-color: #000;
  display: inline-block;
  padding: 0 33px;
  font-size: 15px;
  font-family: Bebas;
  font-size: 15px;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #fff;
}

.btn_w {
  background-color: #fff;
  color: #000;
}

.private-body-buttons__link {
  font-family: Bebas;
  font-size: 15px;
  line-height: 25px;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fffffe;
  margin: 0px 0px 0px 15px;
}

.category {
  margin: 0px 0px 40px 0px;
}

@media (max-width: 767px) {
  .category {
    margin: 0px 0px 0px 0px;
  }
}

.category__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

@media (max-width: 767px) {
  .category__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.category__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  margin: 0px 0px 40px 0px;
}

@media (max-width: 767px) {
  .category__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

@media (max-width: 380px) {
  .category__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.category__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.category__image {
  padding: 0px 0px 102.3% 0px;
  display: block;
}

.category__title {
  font-family: AkzidenzGrotesk;
  font-size: 25px;
  max-width: 185px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #000000;
  margin: 25px 0px 33px 0px;
  padding: 0px 5px 0px 0px;
  display: block;
}

@media (max-width: 380px) {
  .category__title {
    max-width: none;
    height: auto;
    overflow: visible;
    margin: 15px 0px 23px 0px;
  }
}

.category__text {
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  margin: 0px 0px 33px 0px;
  max-width: 185px;
  padding: 0px 5px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 380px) {
  .category__text {
    max-width: none;
    margin: 0px 0px 15px 0px;
  }
}

.category__btn {
  margin: 0px 0px 30px 0px;
}

.category__link {
  font-family: Bebas;
  font-size: 15px;
  line-height: 25px;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
  display: block;
}

.about__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  background-color: #000;
}

.about__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media (max-width: 892px) {
  .about__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .about__column:last-child {
    display: none;
  }
}

.about__text {
  font-family: AkzidenzGrotesk;
  font-size: 50px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-align: right;
  padding: 50px 60px 50px 0px;
}

@media (max-width: 892px) {
  .about__text {
    padding: 30px 0px;
    text-align: center;
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .about__text {
    font-size: 30px;
    text-align: center;
    padding: 20px 0px;
  }
}

.about__image {
  height: 100%;
}

.about__body {
  background-color: #ebebeb;
  padding: 50px 0px 0px 0px;
}

@media (max-width: 479.98px) {
  .about__body {
    padding: 30px 0px 0px 0px;
  }
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__column_bottom {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin: 0px 0px 50px 0px;
}

@media (max-width: 767px) {
  .about__column_bottom {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 479.98px) {
  .about__column_bottom {
    margin: 0px 0px 30px 0px;
  }
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.item__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  height: 100px;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 479.98px) {
  .item__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
    height: 80px;
    padding: 15px;
  }
  .item__icon img {
    max-width: 100%;
  }
}

.item__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 0px 0px 0px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item__title {
  font-family: AkzidenzGrotesk;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 479.98px) {
  .item__title {
    font-size: 20px;
  }
}

.item__text {
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  padding: 0px 15px 0px 0px;
}

.contacts {
  padding: 80px 0px 0px 0px;
}

@media (max-width: 767px) {
  .contacts {
    padding: 40px 0px 0px 0px;
  }
}

@media (max-width: 479.98px) {
  .contacts {
    padding: 30px 0px 0px 0px;
  }
}

.contacts__title {
  font-family: AkzidenzGrotesk;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0px 0px 30px 0px;
}

.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts__column {
  padding: 0px 0px 20px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media (max-width: 479.98px) {
  .contacts__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.contacts__item {
  font-size: 15px;
  line-height: 27px;
  color: #000;
  display: inline-block;
  padding: 0px 0px 0px 35px;
}

.contacts__item_1 {
  background: url("../img/icons/vv_1387.png") 0 0 no-repeat;
}

.contacts__item_2 {
  background: url("../img/icons/email_1379.png") 0 0 no-repeat;
}

.contacts__item_3 {
  background: url("../img/icons/telephone_1380.png") 0 0 no-repeat;
}

.contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.contacts__social_i {
  margin: 0px 30px 0px 0px;
}

.contacts__social_i:last-child {
  margin: 0;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  background-color: #000;
}

@media (max-width: 767px) {
  .contacts__content {
    display: block;
  }
}

.contacts__column_content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.contacts__map {
  height: 100%;
}

@media (max-width: 767px) {
  .contacts__map {
    height: 300px;
  }
}

.contacts__form {
  padding: 55px 60px;
}

@media (max-width: 767px) {
  .contacts__form {
    padding: 30px;
  }
}

.form__title {
  font-family: AkzidenzGrotesk;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin: 0px 0px 30px 0px;
}

.form__body {
  max-width: 375px;
}

@media (max-width: 767px) {
  .form__body {
    max-width: none;
  }
}

.form__line {
  margin: 0px 0px 25px 0px;
}

.input[type="text"],
.input[type="email"],
.input[type="tel"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0 18px;
  height: 50px;
  background-color: #252525;
  border: 2px solid #959595;
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}

.input.err {
  border: 1px solid red;
}

textarea.input {
  resize: none;
  padding: 10px 18px 0 18px;
  height: 100px;
}
